.mainBoxHeaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background: black;
}

h1 {
  color: #fff;
}

.smallText {
  color: #fff;
  display: none;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 640px) {
  .smallText {
    display: block;
    color: white;
  }
  .largerText {
    display: none;
  }
}
