.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box{ 
  display: flex;
  list-style: none;
  border-top: 1px solid rgba(128, 128, 128, 0.637);
}

.box button{ 
  margin-right: 3px;
}